{% extends 'base.html.twig' %}

{% block title %}Edit GSBDD{% endblock %}

{% block body %}
    <h1>Edit GSBDD</h1>

    {{ include('gsbdd/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_g_s_b_d_d_index') }}">back to list</a>

    {{ include('gsbdd/_delete_form.html.twig') }}
{% endblock %}
