{% extends 'base.html.twig' %}

{% block title %}New GSBDD{% endblock %}

{% block body %}
    <h1>Create new GSBDD</h1>

    {{ include('gsbdd/_form.html.twig') }}

    <a href="{{ path('app_g_s_b_d_d_index') }}">back to list</a>
{% endblock %}
