    {% extends 'base.html.twig' %}

    {% block title %}Activité annuelle en volume et valeur{% endblock %}

    {% block body %}
    <h2 class="title-page mt-5">Activité annuelle en volume et valeur</h2>



<div class="d-flex w-50 flex-row" data-controller="chartvol">

  <canvas id="myChart2" data-chartvol-target="myChart2" ></canvas>

<canvas id="myChart" data-chartvol-target="myChart" ></canvas>
</div>
    <div data-controller="pdf-generator">
    <button id="pdf" data-action="click->pdf-generator#download" >Impression</button>
    </div>
    <button class="fr-btn search"><a   id="go-back" @click="goBack">Retour</a></button>
<script>
    let datasets1 = {{ datasets1|json_encode|raw }};
    let datasets2 = {{ datasets2|json_encode|raw }};
    let datasets3 = {{ datasets3|json_encode|raw }};
    let datasets4 = {{ datasets4|json_encode|raw }};
    
</script>
    {% endblock %}