{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<h2 class="title-page mt-5">Inscription</h2>

{{ form(form) }}

{% for flash_message in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
{% endfor %}
{% endblock %}
