{% extends 'base.html.twig' %}

{% block title %}Éditer le mot de passe{% endblock %}

{% block body %}
    <h1>Éditer le mot de passe</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
