<form method="post" action="{{ path('app_u_o_delete', {'id': u_o.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette unité organique ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ u_o.id) }}">
    <button  class="fr-btn">Supprimer</button>
</form>
