{% extends 'base.html.twig' %}

{% block title %}Ajouter une unité organique{% endblock %}

{% block body %}
<div class="achat-container">
    <div class='align-items-center justify-content-center d-flex mt-3 bandeau-form-search'>
        <h5 class="mt-4 ms-3 blueF">Ajouter une unité organique</h5>
        <div class="bande ms-3">
        </div>
    </div>
            <div class="form-container action-container">

    {{ include('uo/_form.html.twig') }}
    <div class="align-items-center justify-content-center d-flex mb-3">
    <a href="{{ path('app_u_o_index') }}" class="fr-btn ">Retour à la liste</a>
    </div>
</div>
</div>
{% endblock %}
